<%= form_with model: [@task.category, @task] do |f| %>
  <% if @task.errors.any? %>
    <div id="form-error-wrap">
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :priority, 'Priority Date' %>
  <%= f.datetime_field :priority, id: 'datepicker', type: '' %>
  <%= f.submit %>
<% end %>
